*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:lightgray;
}
#wrapper{
    border: 3px solid red;
    width: 900px;
    background-color:white;
    box-shadow: 10px 10px 20px black;
    margin-left: auto;
    margin-right: auto;
    /*ny flexbox kode*/
    display: flex; /*gjør div med id wrapper til en flexbox*/
    flex-wrap: wrap; /*elementer flyttes til neste rad*/
    flex-direction: row; /*innholdet plasseres i rader (ikke kolonner)*/
}

#wrapper2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wrapper3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

header{
    border: 1px solid black;
    height: 10vh;
    /*ny flexbox*/
    flex-basis: 100%;
}

nav{
    border: 1px solid black;
    height: 5vh;
    /*ny flexbox*/
    flex-basis: 100%;
}

nav ul{
    list-style: none;
}

main{
    border: 1px solid black;
    height: 60vh;
    /*ny flexbox*/
    flex-basis: 70%;
}

article{
    overflow: auto;
    flex-basis: 30%;
    height: 20vh;
}

aside{
    border: 1px solid black;
    height: 60vh;
    /*ny flexbox*/
    flex-basis: 30%;
}

footer{
    border: 1px solid black;
    height: 10vh;
    /*ny flexbox*/
    flex-basis: 100%;
}
